# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv/
env/
.venv/


# Common Python environment files
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# My Python virtual environment directory
myenv/

